on:
  push:

name: Run Tests

jobs:
  build:
    name: Tests
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Tests
        run: |
          make test-local
